
.header img {
  padding-top: 15px;
  max-height: 50px;
  max-width: 50px;
}
.addInput {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.addInput input {
  padding: 15px;
  background-color: gray;
  font-size: 1.125rem;
  color: white;
  font-style: bold;
}
.addInput button {
  padding: 15px;
  background-color: lightgreen;
  font-size: 1.125rem;
}
.toDoList h1 {
  text-align: center;
}
.listBox {
  max-width: 500px;
  margin: 0 auto;
}

.listItems {
  list-style: none;
  padding: 30px;
  margin: 0 auto;
  border-bottom: gray;
}

input[type=checkbox] { 
  transform: scale(2);
  }

footer img {
  padding-top: 15px;
  max-height: 50px;
  max-width: 50px; 
}
@media (min-width: 720px) {
  .listItems li {
    padding: 30px;
  }
  .header img {
    max-height: 75px;
    max-width: 75px;
  }
  footer img {
    max-height: 75px;
    max-width: 75px; 
  }
}