.header {
  background-color: lightseagreen;
  display: flex;
  justify-content: space-around;
}
.header img {
  padding-top: 15px;
  max-height: 50px;
  max-width: 50px;
}
.toDoList h1 {
  text-align: center;
}
.listBox {
  max-width: 500px;
  margin: 0 auto;
}

.listItems {
  list-style: none;
  padding: 30px;
  margin: 0 auto;
  border-bottom: gray;
}
.listItems li {
  padding: 15px;
  background-color: lightgray;
  margin-top: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  border-bottom:  double;
  font-size: 1.125rem;
}
.listItems li p {
  margin-left: 10px;
}
input[type=checkbox] { 
  transform: scale(2);
  }
footer {
  background-color: gray;
  display: flex;
  justify-content: space-around;
}
footer img {
  padding-top: 15px;
  max-height: 50px;
  max-width: 50px; 
}
@media (min-width: 720px) {
  .listItems li {
    padding: 30px;
  }
  .header img {
    max-height: 75px;
    max-width: 75px;
  }
  footer img {
    max-height: 75px;
    max-width: 75px; 
  }
}