
.header img {
  padding-top: 15px;
  max-height: 50px;
  max-width: 50px;
}
.addInput {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.toDoList h1 {
  text-align: center;
}
.listBox {
  max-width: 500px;
  margin: 0 auto;
}

input[type=checkbox] { 
  transform: scale(2);
  }

footer img {
  padding-top: 15px;
  max-height: 50px;
  max-width: 50px; 
}
@media (min-width: 720px) {
  .listItems li {
    padding: 30px;
  }
  .header img {
    max-height: 75px;
    max-width: 75px;
  }
  footer img {
    max-height: 75px;
    max-width: 75px; 
  }
}